<div id="categories_block" class="block sidebar_block_custom">
  <h4 class="title_block">Danh Mục Sản Phẩm <i class="fa fa-plus-circle"></i></h4>
  <div class="block_content" style="">
    <ul class="list-block list-group list-unstyled listSidebar">
      <li *ngFor="let category of categories"><a [routerLink]="['/category', category.id]" title="{{ category.name }}">
        {{ category.name }}<span id="leo-cat-939408" class="leo-qty pull-right">{{ category.quantityItems }}</span>
      </a></li>
    </ul>
  </div>
</div>
