<div class="col-xs-12 col-sm-12 col-lg-8 col-md-8">
  <div class="category_sub">
    <h3 class="title_block pull-left">Đồ dùng gia đình</h3>
  </div>
  <div class="row">
    <div class="">
      <div class="category_content">
        <div class="category_product_tab">
          <div class="tab-content owl-row">
            <div class="tab-pane active" id="productTabs01_1">
              <div class="carousel slide" id="home_producttabs01_collection_1">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="product_list">
                      <!-- start row product items --
                      <!-- start one product items -->
                      <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12" *ngFor=" let item of itemsMaterial">
                        <div class="item-variant clearfix product-block">
                          <div class="product-meta">
                            <h3 class="name">
                              <a class="product-name" [routerLink]="['/detail',item.id]" title="{{item.name}}">{{item.name}}</a>
                            </h3>
                            <div class="review clearfix">
                              <span class="shopify-product-reviews-badge"></span>
                            </div>
                            <div class="content_price">
                              <span class="price product-price sale-price">
                                <span>{{item.price}}</span>
                              </span>
                              <span class="old-price product-price">
                                <span>{{item.price}}</span>
                              </span>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="product-image-container image">
                            <div class="layout-img">
                              <a class="product_img_link" [routerLink]="['/detail',item.id]" title="{{item.name}}">
                                <img class="img-responsive" src="{{item.avatar}} " alt=""/>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--end one product-item  -->
                      <!-- start one product items -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category_desc fix-banner">
      <img class="img-responsive"
      src="./assets/images/banner/home_verticaltabs_2.png"
      alt="Đồ ăn nóng">
    </div>
  </div>


</div>
