<div class="main" role="main">
  <div class="main_header">
    <div class="shop logo logo--left">
      <h1 class="shop__name">
        <a href="/">
          Food-Market
        </a>
      </h1>
    </div>
  </div>
  <div class="main_content stateful-form">
    <form [formGroup]="orderForm">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="section" formGroupName="personal">
          <div class="section__header">
            <div class="layout-flex layout-flex--wrap">
              <h2 class="section__title layout-flex__item layout-flex__item--stretch">
                <i class="fa fa-id-card-o fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
                <label class="control-label">Thông tin mua hàng</label>
              </h2>

            </div>
          </div>
          <div class="section__content">
            <div class="form-group">
              <div>
                <label class="field__input-wrapper">
                  <span class="field__label">
                      Email
                  </span>
                  <input onFocus="true"
                         type="email"
                         formControlName="email"
                         class="field__input form-control"
                         id="email"
                         data-error="Vui lòng nhập email đúng định dạng"
                         required=""
                         [disabled]="false"
                         pattern="^([a-zA-Z0-9_\-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                </label>
              </div>
              <div class="help-block with-errors">
              </div>
            </div>
            <div class="billing">
              <div>
                <div class="form-group">
                  <div class="field__input-wrapper">
                    <span class="field__label">
                        Họ và tên
                    </span>
                    <input onFocus="true" formControlName="name" type="text"  class="field__input form-control" id="_billing_address_last_name" data-error="Vui lòng nhập họ tên" required="">
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <div class="field__input-wrapper">
                      <span class="field__label">
                          Số điện thoại
                      </span>
                    <input onFocus="true" formControlName="phone" type="text" class="field__input form-control" id="_billing_address_phone">
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <div class="field__input-wrapper">
                    <span class="field__label">
                        Địa chỉ
                    </span>
                    <input onFocus="true" formControlName="address" type="text" class="field__input form-control" id="_billing_address_address1">
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <!--<div class="form-group">-->
                  <!--<div class="field__input-wrapper field__input-wrapper&#45;&#45;select">-->
                    <!--<label class="field__label" for="BillingDistrictId">-->
                      <!--Quận huyện-->
                    <!--</label>-->
                    <!--<select class="field__input field__input&#45;&#45;select form-control" formControlName="district" id="billingDistrict"><option value="">-&#45;&#45; Chọn quận huyện -&#45;&#45;</option></select>-->
                  <!--</div>-->
                  <!--<div class="help-block with-errors"></div>-->
                <!--</div>-->
                <div class="form-group">
                  <div class="error hide">
                    <label>Khu vực này không hỗ trợ vận chuyển</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section pt10">
          <div class="section__content">
            <div class="form-group">
              <div class="checkbox-wrapper">
                <div class="checkbox__input">
                  <input class="input-checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="ortherShip" type="checkbox" value="false" name="otherAddress" id="other_address">
                </div>
                <label class="checkbox__label" for="other_address">
                  Giao hàng đến địa chỉ khác
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="section pt10" formGroupName="shipAddress" *ngIf="ortherShip">
          <div class="section__header">
            <h2 class="section__title">
              <i class="fa fa-id-card-o fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
              <label class="control-label">
                Thông tin nhận hàng
              </label>
            </h2>
          </div>
          <div class="section__content">
            <div class="shipping">
              <div>
                <div class="form-group">
                  <div class="field__input-wrapper">
                      <span class="field__label">
                          Họ và tên
                      </span>
                    <input onFocus="true" formControlName="name" type="text" class="field__input form-control" id="_shipping_address_last_name" data-error="Vui lòng nhập họ tên" required="">
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <div class="field__input-wrapper">
                    <span class="field__label">
                        Số điện thoại
                    </span>
                    <input onFocus="true" formControlName="phone" type="text"  class="field__input form-control" id="_shipping_address_phone" >                   </div>
                  <div class="help-block with-errors"></div>
                </div>


                <div class="form-group">
                  <div class="field__input-wrapper">
                                                        <span class="field__label">
                                                            Địa chỉ
                                                        </span>
                    <input onFocus="true" formControlName="address" type="text" class="field__input form-control" id="_shipping_address_address1" >
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <div class="field__input-wrapper field__input-wrapper--select">
                    <label class="field__label" for="BillingDistrictId">
                      Quận huyện
                    </label>
                    <select onFocus="true" class="field__input field__input--select form-control" name="ShippingDistrictId" id="BillingDistrictId" ><option value="">--- Chọn quận huyện ---</option></select>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>


                <div class="form-group">
                  <div class="error hide">
                    <label>Khu vực này không hỗ trợ vận chuyển</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section pt10">
          <div class="section__content">
            <div class="form-group m0">
              <textarea formControlName="note" class="field__input form-control m0" placeholder="Ghi chú"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="section shipping-method">
          <div class="section__header">
            <h2 class="section__title">
              <i class="fa fa-truck fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
              <label class="control-label">Vận chuyển</label>
            </h2>
          </div>
          <div class="section__content">
            <div class="content-box"><div class="content-box__row"><div class="radio-wrapper"><div class="radio__input"><input class="input-radio" type="radio" value="42758,0" name="ShippingMethod" id="shipping_method_42758" fee="40000"></div><label class="radio__label" for="shipping_method_42758"> <span class="radio__label__primary">Giao hàng tận nơi</span><span class="radio__label__accessory"><span class="content-box__emphasis">40.000₫</span></span></label> </div> <!-- /radio-wrapper--> </div></div>
          </div>
        </div>
        <div class="section payment-methods">
          <div class="section__header">
            <h2 class="section__title">
              <i class="fa fa-credit-card fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
              <label class="control-label">Thanh toán</label>
            </h2>
          </div>
          <div class="section__content">
            <div class="content-box">

              <div class="content-box__row">
                <div class="radio-wrapper">
                  <div class="radio__input">
                    <input class="input-radio" type="radio" value="40746" name="PaymentMethodId" id="payment_method_40746" data-check-id="4" checked="">
                  </div>
                  <label class="radio__label" for="payment_method_40746">
                    <span class="radio__label__primary">Thanh toán khi giao hàng (COD)</span>
                    <span class="radio__label__accessory">
                    <ul>
                        <li class="payment-icon-v2 payment-icon--4">

								<i class="fa fa-money payment-icon-fa" aria-hidden="true"></i>

                        </li>
                    </ul>
                </span>
                  </label>
                </div> <!-- /radio-wrapper-->
              </div>

              <div class="radio-wrapper content-box__row content-box__row--secondary" id="payment-gateway-subfields-40746">
                <div class="blank-slate">
                  <p>cod</p>


                </div>
              </div>

              <div class="modal fade moca-modal" id="moca-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div>
                      <iframe style="border: 0px; width: 100%; height: 100%;" src=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="moca-error-modal" data-width="" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                      <div>
                        <p>Giao dịch của bạn chưa đủ hạn mức thanh toán</p>
                        <p>Hạn mức tối thiểu để thanh toán được là 1đ</p>
                        <p>Vui lòng chọn hình thức thanh toán khác</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section hidden-md hidden-lg">
          <div class="form-group clearfix m0">
            <input class="btn btn-primary btn-checkout" type="button" value="ĐẶT HÀNG">
          </div>
          <div class="text-center mt20">
            <a class="previous-link" href="/cart">
              <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
              <span>Quay về giỏ hàng</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>


  <div class="main_footer footer unprint">



    <div class="mt10"></div>
  </div>
  <div class="modal fade" id="refund-policy" data-width="" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 class="modal-title">Chính sách hoàn trả</h4>
        </div>
        <div class="modal-body">
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="privacy-policy" data-width="" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 class="modal-title">Chính sách bảo mật</h4>
        </div>
        <div class="modal-body">
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="terms-of-service" data-width="" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 class="modal-title">Điều khoản sử dụng</h4>
        </div>
        <div class="modal-body">
          <pre></pre>
        </div>
      </div>
    </div>
  </div>
</div>